*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.menu-bg{
    background-color: #1C1E53;
    height: 92px;
}
.menu-bg ul li a{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 0 20px !important;
    text-transform: capitalize;
}
.menu-button{
    margin-left: 50px;
}
.menu-button a{
    color: #FFF;
    font-family:"Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 40px;
    border-radius: 40px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    transition: 0.5s;
}
.menu-button a:hover{
    background-color: #FCD980;
}


/* ban part start */
#banner{
    background: #1C1E53;
}
.ban-text{
    margin-top: 200px;
}
.ban-text h2{
    color:  #FFF;
    font-family:"Poppins", sans-serif ;
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 20px;
}
.ban-text p{
    color:  #FFF;
    font-family:"Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding-bottom: 30px;
}
.ban-btn{
    color: #FFF;
    font-family:"Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    border: 2px solid #FCD980;
    transition: 0.5s;
}
.ban-btn:hover{
    background-color: #FCD980;
}
.a .ban-btn{
    margin-bottom: 128px;
}
.ban-img{
    padding: 241px 0 157px 0;
}

/* ban part end */
#bt{
    padding: 120px 0;
}
.bt-text h2{
    color:  #282938;
    font-family:"Poppins", sans-serif ;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    padding: 100px 0 50px 0;
}
.bt-card{
    background:  #F4F6FC;
}
.bt-card img{
    width: 32.001px;
    height: 32px;
    margin-top: 40px;
    margin-left: 40px;
}
.bt-card h3{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 40px;
}
.bt-card p{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0 40px 20px 40px;
}
.bpe-img img{
    margin-top: 20px;
}
.fs-text h2{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 600;
}
.fs-text-1 h5{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* benifit part end */


/* our team part start */
#ot{
    padding: 128px 0 128px 0;
}
.ot-text a{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    padding-bottom: 20px;
}
.ot-text h2{
    color: #232536;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 20px;
}
.ot-text p{
    color: #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
/* our team part end */


/* our mission part star */
#om{
    background: #EEF4FA;
    padding: 128px 0;
}
.om-img-1 img{
    margin-top: 70px;
}
.om-text-1{
    margin-top: 100px;
}
.om-text-1 h5{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.om-text-1 h2{
    font-family: "Poppins", sans-serif;
    color: #232536;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px; 
}
.om-text-1 p{
    color: #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
/* our mission part end */

/* our mission2 part start */
#om2{
    background: #FFF;
    padding: 128px 0;
}
.om-text h4{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.om-text h2{
    font-family:  "Poppins", sans-serif;
    color: #232536;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px; 
}
.om-text p{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


/* our mission2 part end */

/* our mission3 part start */
#om3{
    background: rgba(252, 217, 128, 0.10);
    padding: 128px 0;
}
.om-img-2 img{
    margin-top: 70px;
}
.om-text-2{
    margin-top: 100px;
}
.om-text-2 h5{
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.om-text-2 h2{
    font-family: "Poppins", sans-serif;
    color: #232536;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}
.om-text-2 p{
    font-family: "Poppins", sans-serif;
    color: #232536;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
/* our mission3 part end */



/* accordion part start */
#ac{
    background: #ECECF1;
}
.ac-text{
    padding-top: 120px;
    padding-bottom: 200px;
}
.ac-click{
    padding: 120px 0;
}
.ac-text h3{
    color:  #282938;
    font-family:"Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 56px; 
}
.ac-text a{
    color: #2405F2;
    text-align: center;
    font-family:"Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
strong{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
}
.accordion-button::after{
    background-image: url("../images/plus.png");
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../images/cancel.png");
}
/* accordion part end */

/* footer par start */
#footer{
    padding-top: 128px;
    background: #1C1E53;
}
.ftr-text img{
    width: 156px;
    height: 38px;
}
.ftr-bottom{
    padding: 17px 137px 16px 37px;
    background-color: #FCD980;
}
.ftr-bottom-text{
    display: flex;
}
.ftr-text p{
    color:  #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 20px;
}
.ftr-right h2{
    color: #FFF;
    font-family:"Poppins", sans-serif ;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
}
.ftr-right p{
    color:  #F4F6FC;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 20px;
}
.ftr-right i{
    color: #FFF;
    padding: 0 10px;
    font-size: 20px;
}
.ftr-left h5{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.ftr-left h6{
    color:  #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.ftr-right-1 h5{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.ftr-right-1 h6{
    color:  #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.ftr-right-1{
    margin-left: 29px;
}
/* footer par end */

/* copyright part star */
#cp{
    padding: 32px 0;
}
.cp-text h6{
    color: #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 500;
}
.cp-menu ul{
    display: flex;
}
.cp-menu ul li a{
    color: #282938;
    font-family:  "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 0 8px;
}

/* copyright part end */
