*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.menu-bg{
    background-color: #1C1E53;
    height: 92px;
}
.menu-bg ul li a{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 0 20px !important;
    text-transform: capitalize;
}
.menu-button{
    margin-left: 50px;
}
.menu-button a{
    color: #FFF;
    font-family:"Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding: 10px 40px;
    border-radius: 40px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    transition: 0.5s;
}
.menu-button a:hover{
    background-color: #FCD980;
}


/* ux part start */
#xu{
    padding: 128px 0;
}
.ux-text-bottom{
    display: flex;
    justify-content: center;
}
.ux-text h3{
    color:  #282938;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
}
.ux-text-1 p{
    color:  #282938;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
}
.ux-img img{
    padding: 48px 0;
}
.ux-text-1 p{
    color:  #282938;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.ux-text-1 h6{
    color:  #2405F2;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* ux part end */


/* our blog part start */
#ob{
    padding: 0 0 100px 0;
}
.ob-text h3{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.ob-img-text p{
    color:  #282938;
    font-family:"Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}
.ob-img-text h4{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px; 
}
.ob-img-text h6{
    color: var(--Dark-blue, #282938);
    font-family:  "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px; 
    padding: 20px 0;
}
.ob-img-text h5{
    color:  #1C1E53;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.ob-img-text i{
    padding-left: 10px;
}
.ob-img img{
    margin-top: 50px;
}
/* our blog part end */


/* footer par start */
#footer{
    padding-top: 128px;
    background: #1C1E53;
}
.ftr-text img{
    width: 156px;
    height: 38px;
}
.ftr-bottom{
    padding: 17px 137px 16px 37px;
    background-color: #FCD980;
}
.ftr-bottom-text{
    display: flex;
}
.ftr-text p{
    color:  #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 20px;
}
.ftr-right h2{
    color: #FFF;
    font-family:"Poppins", sans-serif ;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
}
.ftr-right p{
    color:  #F4F6FC;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 20px;
}
.ftr-right i{
    color: #FFF;
    padding: 0 10px;
    font-size: 20px;
}
.ftr-left h5{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.ftr-left h6{
    color:  #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.ftr-right-1 h5{
    color:  #282938;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
}
.ftr-right-1 h6{
    color:  #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.ftr-right-1{
    margin-left: 29px;
}
/* footer par end */

/* copyright part star */
#cp{
    padding: 32px 0;
}
.cp-text h6{
    color: #282938;
    font-family: "Poppins", sans-serif ;
    font-size: 16px;
    font-weight: 500;
}
.cp-menu ul{
    display: flex;
}
.cp-menu ul li a{
    color: #282938;
    font-family:  "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 0 8px;
}

/* copyright part end */