@media(min-width:992px) and (max-width:1200px){
.ux-text h3{
  font-size: 35px;
  line-height: 55px;
}
.ftr-right-1 h6 {
    font-size: 14px;
}
.cp-text h6 {
    font-size: 14px;
}
.cp-menu ul li a{
    font-size: 14px;
}
.ftr-bottom{
     padding: 17px 50px 16px 37px;
}
.ftr-right p{
    font-size: 14px;
    line-height: 20px;
}
}




@media(min-width:576px) and (max-width:767px){
    .fa-solid, .fab, .far, .fas {
        color: #fff;
}   
.menu-bg ul{
    padding-bottom: 30px;
} 
.menu-bg ul li a{
   text-align: center;
   padding: 10px 0 !important;
   font-size: 20px;
   background-color: #000;
   border: 2px solid white;
   border-radius: 10px;
}   
.menu-button a{
    margin-left: 120px;
    background-color: black;
}
.ux-text h3 {
    font-size: 29px;
    line-height: 49px;
}
.ob-text h3 {
    font-size: 40px;
}
.ob-img-text h4 {
    font-size: 16px;
}
.ob-img-text h6 {
    font-size: 13px;
    line-height: 25px;
}
.ftr-right h2 {
    font-size: 40px;
}
.cp-text h6 {
    font-size: 14px;
}
.cp-menu ul li a {
    font-size: 10px;
    padding: 0 5px;
}
}


@media(min-width:768px) and (max-width:991px){
    .fa-solid, .fab, .far, .fas {
        color: #fff;
}   
.menu-bg ul{
    padding-bottom: 30px;
} 
.menu-bg ul li a{
   text-align: center;
   padding: 10px 0 !important;
   font-size: 20px;
   background-color: #000;
   border: 2px solid white;
   border-radius: 10px;
}   
.menu-button a{
    margin-left: 120px;
    background-color: black;
}
.ob-img-text h4 {
    font-size: 18px;
    line-height: 32px;
}
.ob-img-text h6 {
    font-size: 15px;
    line-height: 25px;
}
.cp-menu ul li a {
    font-size: 15px;
    padding: 0 5px;
}
}

@media(max-width:575px){
    .fa-solid, .fab, .far, .fas {
        color: #fff;
}   
.menu-bg ul{
    padding-bottom: 30px;
} 
.menu-bg ul li a{
   text-align: center;
   padding: 10px 0 !important;
   font-size: 20px;
   background-color: #000;
   border: 2px solid white;
   border-radius: 10px;
}   
.menu-button a{
    margin-left: 30px;
    background-color: black;
}
#xu {
    padding: 70px 0;
}
.ux-text h3 {
    font-size: 25px;
    line-height: 35px;
}
.ux-text-1 p {
    font-size: 14px;
}
#xu {
    padding: 30px 0;
}
.ob-text h3 {
    font-size: 35px;
}  
.ftr-right h2 {
    font-size: 40px;
}
.ftr-bottom {
    padding: 17px 60px 16px 18px;
}
.ftr-text p {
    font-size: 12px;
    line-height: 20px;
}
.ftr-right h2 {
    font-size: 30px;
    line-height: 40px;
}
.ftr-right p {
    font-size: 12px;
    line-height: 25px;
}
.ftr-right i {
    padding-bottom: 20px;
}
.ftr-left h5 {
    font-size: 12px;
    line-height: 15px;
}
.ftr-left h6 {
    font-size: 10px;
    line-height: 5px;
}
.ftr-right-1 h5 {
    font-size: 12px;
    line-height: 10px;
}
.ftr-right-1 h6 {
    font-size: 10px;
    line-height: 10px;
}
#cp {
    padding: 10px 0;
}
.cp-menu ul {
    margin-left: -35px;
}
.cp-text h6 {
    font-size: 14px;
}  
.cp-menu ul li a {
    font-size: 12px;
    padding: 0px 4px;
}
}