@media(max-width:575px){
    .fa-solid, .fab, .far, .fas {
        color: #FFF;
}   
.menu-bg ul{
    padding-bottom: 30px;
} 
.menu-bg ul li a{
   text-align: center;
   padding: 10px 0 !important;
   font-size: 20px;
   background-color: #000;
   border: 2px solid white;
   border-radius: 10px;
}   
.menu-button a{
    background-color: black;
    margin-left: 40px;
}
.ban-text h2 {
    font-size: 25px;
    line-height: 35px;
}
.ban-text p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0;
}
.ban-text {
    margin-top: 40px;
}
.ban-btn{
    font-size: 10px;
    padding: 10px 30px;
}
.ban-img {
    padding: 70px 0 70px 0;
}
#heading {
    padding: 50px 0;
}
.hd-text h2 {
    font-size: 30px;
}
.hd-card img {
    margin-top: 30px;
}
.hd-card h3 {
    font-size: 20px;
    line-height: 20px;
}
.hd-card p {
    line-height: 25px;
}
#view {
    padding: 70px 0;
}
.vop {
    padding-bottom: 30px;
}
.vop h3 {
    font-size: 25px;
    line-height: 0px;
}
.op-text h3 {
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 0;
}
.op-text a {
    font-size: 10px;
    line-height: 10px;
}
.op-text{
    top:60%;
    left: 7%;
}
.op-img{
    margin-bottom: 20px;
}
.ft-text h2 {
    font-size: 20px;
    line-height: 30px;
}
.cp-text h6 {
    font-size: 11px;
    margin-top: 10px;
    margin-left: 0px;
    line-height: 9px;
}
.ft-card-1 p {
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
}
.ft-card-1 img{
    height: 25px;
    width: 25px;
}
.ts {
    padding: 20px 0;
}
.ts h3 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 0px;
}
.ts h4 {
    font-size: 18px;
    line-height: 30px;
}
.ac-text {
    padding-top: 50px;
    padding-bottom: 20px;
}
.ac-text h3 {
    font-size: 25px;
    line-height: 40px;
}
.ac-click {
    padding: 30px 0 50px 0;
}
.h3, h3 {
    font-size: 14px;
}
strong {
    font-size: 10px;
    padding: 0px 10px;
    line-height: 0px;
}
.bs-left img {
    height: 400px;
}
.bs-left h2 {
    padding: 96px 0px 20px 10px;
    font-size: 18px;
    line-height: 26px;
}
.bs-left p {
    top: 200px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 20px;
}
.bs-left{
    margin-bottom: 20px;
}
.bs-right h3 {
    font-size: 27px;
    line-height: 20px;
    padding: 96px 0px 20px 26px;
}
.bs-right p {
    font-size: 15px;
    line-height: 25px;
    padding: 0px 30px;
}
.bs-top{
    padding: 16px 30px;
}
.bs-top input {
    width: 100%;
    font-size: 10px;
}
.bs-btn {
    padding: 10px 40px;
}
.bs-btn a {
    font-size: 12px;
    line-height: 17px;
    padding: 12px 70px;
}
.bs-btn-1 {
    padding: 13px 65px;
}
.bs-btn-1 a {
    font-size: 12px;
}
.ft-text {
    padding: 60px 0 45px 0;
}
.bl-text {
    padding: 40px 0 15px 0;
}
.bl-text h2 {
    font-size: 30px;
}
.bl-c-text h3 {
    font-size: 15px;
    padding-bottom: 5px;
    line-height: 25px;
}
.bl-c-text p {
    font-size: 10px;
    line-height: 18px;
}
#blog {
    padding-bottom: 40px;
}
.ftr-bottom {
    padding: 17px 60px 16px 18px;
}
.ftr-right h2 {
    font-size: 40px;
}
.ftr-text p {
    font-size: 12px;
    line-height: 20px;
}
.ftr-right h2 {
    font-size: 30px;
    line-height: 40px;
}
.ftr-right p {
    font-size: 12px;
    line-height: 25px;
}
.ftr-right i {
    padding-bottom: 20px;
}
.ftr-left h5 {
    font-size: 12px;
    line-height: 15px;
}
.ftr-left h6 {
    font-size: 10px;
    line-height: 5px;
}
.ftr-right-1 h5 {
    font-size: 12px;
    line-height: 10px;
}
.ftr-right-1 h6 {
    font-size: 10px;
    line-height: 10px;
}
#cp {
    padding: 10px 0;
}
.cp-menu ul {
    margin-left: -35px;
}
.cp-text h6 {
    font-size: 14px;
}  
.cp-menu ul li a {
    font-size: 12px;
    padding: 0px 4px;
}
}


@media(min-width:576px) and (max-width:767px){
    .fa-solid, .fab, .far, .fas {
        color: #FFF;
}   
.menu-bg ul{
    padding-bottom: 30px;
} 
.menu-bg ul li a{
   text-align: center;
   padding: 10px 0 !important;
   font-size: 20px;
   background-color: #000;
   border: 2px solid white;
   border-radius: 10px;
}   
.menu-button a{
    margin-left: 120px;
    background-color: black;
}
.ban-text{
    margin-top: 100px;
}
.ban-text h2 {
    font-size: 35px;
    line-height: 52px;
    padding-bottom: 20px;
    text-align: center;
}
.ban-text p {
    font-size: 18px;
    text-align: center;
}
.ban-img {
    padding: 99px 0 157px 0;
    text-align: center;
}
#heading {
    padding: 50px 0;
}
.hd-text p {
    font-size: 20px;
    color: darkgoldenrod;
}
.hd-card img {
    margin-top: 37px;
}
#view {
    padding: 50px 0;
}
.vop h3 {
    font-size: 30px;
}
.vop a{
    color: blue;
}
.vop {
    padding-bottom: 5px;
}
.op-left {
    margin-bottom: 31px;
}
.op-text {
    position: absolute;
    top: 192px;
    left: 22px;
}
.op-text h3 {
    font-size: 14px;
    line-height: 26px;
}
.ft-text {
    text-align: center;
    padding: 60px 0 45px 0;
}
.ft-text h2 {
    font-size: 30px;
    line-height: 51px;
}
.ft-card-1 img {
    margin-top: 38px;
    margin-left: 90px;
    margin-bottom: 15px;
}
.ft-card-1 h3 {
    line-height: 36px;
    padding-left: 30px;
    font-size: 16px;
}
.ft-card-1 p {
    font-size: 15px;
    line-height: 25px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
  }
.ts {
    padding: 10px 0;
}
.ts h3 {
    text-align: center;
}
.ts p {
    text-align: center;
}
.ts h4 {
    line-height: 40px;
    text-align: center;
}
.ts-pro {
    padding: 20px;
}
.ts-pro img {
    margin-left: 150px;
}
.ac-text {
    padding-top: 50px;
    padding-bottom: 0px;
}
.ac-click {
    padding: 60px 0;
}
.h3, h3 {
    font-size: 20px;
}
strong {
    font-size: 15px;
    padding: 0px 20px;
}
.accordion-item {
    border-bottom: 2px solid #000;
}
.bs-left p {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.bs-left {
    margin-bottom: 30px;
}
.bs-top input {
    width: 100%;
}
#blog {
    padding-bottom: 80px;
}
.bl-text {
    padding: 30px 0 30px 0;
}
.bl-text h2 {
    color: aqua;
    font-size: 35px;
}
.bl-c-text h4 {
    padding: 30px 0 16px 0;
}
.bl-c-text h3 {
    padding-bottom: 10px;
    line-height: 25px;
}
.bl-c-text p {
    font-size: 19px;
    line-height: 20px;
}
.bl-img img{
    margin-top: 20px;
}
#cp {
    padding: 20px 0;
}
.cp-text h6 {
    font-size: 13px;
    margin-left: 43px;
}
.cp-menu ul li a {
    font-size: 12px;
    padding: 0 10px;
}
}

@media(min-width:768px) and (max-width:991px){
    .fa-solid, .fab, .far, .fas {
        color: #FFF;
}   
.menu-bg ul{
    padding-bottom: 30px;
} 
.menu-bg ul li a{
   text-align: center;
   padding: 10px 0 !important;
   font-size: 20px;
   background-color: #000;
   border: 2px solid white;
   border-radius: 10px;
}   
.menu-button a{
    margin-left: 200px;
    background-color: black;
}
.ban-text h2 {
    font-size: 35px;
    line-height: 52px;
    padding-bottom: 20px;
    text-align: center;
}
.ban-text{
    margin-top: 100px;
}
.ban-text p {
    font-size: 18px;
    text-align: center;
}
.ban-btn {
    margin-left: 70px;
}
.ban-img {
    padding: 99px 0 157px 0;
    text-align: center;
}
#heading {
    padding: 50px 0;
}
.hd-text p {
    font-size: 20px;
    color: darkgoldenrod;
}
.hd-card img {
    margin-top: 37px;
}
#view {
    padding: 50px 0;
}
.vop h3 {
    font-size: 30px;
}
.vop a{
    color: blue;
}
.vop {
    padding-bottom: 5px;
}
.op-left {
    margin-bottom: 31px;
}
.op-text {
    position: absolute;
    top: 192px;
    left: 22px;
}
.op-text h3 {
    font-size: 14px;
    line-height: 26px;
}
.ft-card-1 {
    margin-bottom: 24px;
    text-align: center;
}
.ft-card-1 p {
    font-size: 15px;
}
.ft-card-1 img {
    margin-top: 22px;
    margin-left: 0px;
    margin-bottom: 7px;
}
.ft-card-1 h3 {
    font-size: 20px;
    line-height: 28px;
    padding-left: 30px;
  }
.ft-text {
    text-align: center;
    padding: 30px 0 45px 0;
}
.ft-text h2 {
    font-size: 25px;
    line-height: 40px;
}
.ts {
    padding: 10px 0;
}
.ts h3 {
    text-align: center;
}
.ts p {
    text-align: center;
}
.ts h4 {
    line-height: 40px;
    text-align: center;
}
.ts-pro {
    padding: 20px;
}
.ts-pro img {
    margin-left: 150px;
}
.ac-text {
    padding-top: 50px;
    padding-bottom: 0px;
}
.ac-click {
    padding: 60px 0;
}
.h3, h3 {
    font-size: 20px;
}
strong {
    font-size: 15px;
    padding: 0px 20px;
}
.accordion-item {
    border-bottom: 2px solid #000;
}
.bs-left p {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.bs-left {
    margin-bottom: 30px;
}
.bs-top input {
    width: 100%;
}
#blog {
    padding-bottom: 80px;
}
.bl-text {
    padding: 30px 0 30px 0;
}
.bl-text h2 {
    color: aqua;
    font-size: 35px;
}
.bl-c-text h4 {
    padding: 30px 0 16px 0;
}
.bl-c-text h3 {
    padding-bottom: 10px;
    line-height: 25px;
}
.bl-c-text p {
    font-size: 19px;
    line-height: 20px;
}
.bl-img img{
    margin-top: 20px;
}
.cp-text h6 {
    font-size: 11px;
    margin-top: 10px;
    margin-left: 0px;
    line-height: 9px;
}
#cp {
    padding: 20px 0;
}
.cp-menu ul li a {
    font-size: 14px;
    padding: 0 10px;
}
}




@media(min-width:992px) and (max-width:1200px){
.ban-text p {
    padding-bottom: 20px;
}
.ban-btn
{
  padding: 16px 50px;
}
.ban-text{
  margin: 100px 0 30px 0;
}
.ban-img{
  padding: 130px 0 157px 0;
}
.ft-text h2
{
  font-size: 31px;
  line-height: 50px;
}
.ac-text h3
{
    font-size: 25px;
    line-height: 40px;
}
.ac-text a
{
  font-size: 17px;
}
.ft-card-1 h3 {
    font-size: 20px;
}
.bs-top input {
    width: 100%;
}
.bs-btn a {
    font-size: 15px;
    padding: 16px 70px;
}
.bs-btn-1 {
    padding: 25px 130px;
}
.ftr-bottom{
    padding: 17px 50px 16px 37px;
}
.ftr-right p{
  font-size: 14px;
  line-height: 20px;
}
.ftr-right-1 h6 {
    font-size: 8px;
}
.cp-text h6 {
    font-size: 14px;
}
.cp-menu ul li a
{
  font-size: 14px;
}
.bs-left h2
{
  font-size: 36px;
  line-height: 50px;
}
.op-text h3
{
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 20px;
}
.op-text
{
  top: 250px;
}
.vop h3
{
  font-size: 33px;
  line-height: 25px;
}
}